@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Dancing+Script&display=swap');

h1{
    font-family: 'Dancing Script';
    color: #72383d;
    font-size: 9rem;
    text-align: center;
    margin-bottom: 1px;
}

h2{
    font-family: 'Cardo';
    font-size: 1.5rem;
    color: #322d29;
}

body{
    background-color: #efe9e1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.heads{
    position:relative;
    text-align: center;
}

.contnts{
    margin-top: 50px;
    text-align: center;
}
#frm-login, #frm-rspnd{
    font-family: 'Cardo';
    font-size: 1.5rem;
    background-color: #d9d9d9;
    border-radius: 2%;
    padding: 0.7rem;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
}

.ourstory{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2rem;
    padding: 0.7rem;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
}


.pwinput{
    font-family: 'Cardo';
    font-size: 1rem;
    background-color: #fff;
    border-radius: 2%;
    padding: 0.6rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 22.5rem;
    border:none;
}

input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    width: 80%;
    background-color: #72383d;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #642f34;
  }
  

.buttons{
    width: min(100% - 1rem, 300px);
    height: 45px;
    margin-top: 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #72383d;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.title{
    cursor: pointer;
}

#map {
   margin-top: 50px;
  }

.buttons:hover{
    background: #642f34;
    color: #fff;
}
.dtable{
    
    position: relative;
    border-style: solid;
    width: 45%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.dtable tr:nth-child(even){background-color: #f2f2f2;}
.dtable tr:hover {background-color: #ddd;}
.dtable td, .dtable th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
  }
.dtable th {
    text-align: center;
    background-color: #72383d;
    color: white;
  }


footer{
    margin-top: 120px;
    font-size: 0.8rem;
    color: #322d29;
}